<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AnimeList</title>

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/layout.css">
	<link rel="shortcut icon" href="assets/icons/logo.svg" type="image/x-icon">
	<%- style %>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>

<body>
	<div id="container">
		<nav class="navbar navbar-expand-lg header">
			<div class="container-fluid">
				<img src="assets/icons/logo.svg" alt="AnimeList" id="logo">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<img src="assets/icons/hamburguer.svg" alt="menu hamburguer">
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/favorites">Favoritos</a>
						</li>
					</ul>
					<div class="search-bar">
						<div class="dropdown">
							<input class="dropdown-toggle search-input" type="text" placeholder="Pesquisar"
								id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" />

							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
						</div>
						
						<div class="search">
							<img src="assets/icons/search.svg" alt="Pesquisar">
						</div>
					</div>
				</div>
			</div>
		</nav>

		<main>
			<%- body %>
		</main>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
		integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
		integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
		crossorigin="anonymous"></script>
	<script src="scripts/services/input.js"></script>
	<%- scripts %>
</body>

</html>